@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,400;1,700&display=swap');
:root{
--Cyan: hsl(179, 62%, 43%);
--Bright-Yellow: hsl(71, 73%, 54%);
--Light-Gray: hsl(204, 43%, 93%);
--Grayish-Blue: rgb(209, 227, 255);
--Font-size: 16px;
--Font-family: 'Karla', sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--Font-family);
    font-size: var(--Font-size);
}
body{
    width:100%;
    height:100vh;
    
}
.grid-wrapper{
    display: grid;
    width:100%;
    height:100%;
    background-color: rgb(209, 227, 255,0.3);
    

    grid-template-areas: 
    "header header"
    "sign-up section"
    "footer footer";

    grid-template-rows:35% 35% ;
    grid-template-columns: 30% 30%;

    justify-content: center;
    align-content: center;

   

}
header{
    grid-area: header;


    display: grid;
    width:100%;
    height:100%;
    

    grid-template-areas: 
    "h1 "
    "h4"
    "h5";

    grid-template-rows:35% 25% 40% ;
    grid-template-columns: 80%;

    justify-content: center;
    align-content: center;

    background-color: white;
}
h1{
    grid-area: h1;
   
    
    display: grid;
    justify-content: start;
    align-content: center;

    color:var(--Cyan);
    font-size: 70px;
    
}
 header h4{
    grid-area: h4;
    
    display: grid;
    justify-content: start;
    align-content: center;
    color:var(--Bright-Yellow);
    font-size: 30px;
}
header h5{
    grid-area: h5;
    font-size: 25px;
    display: grid;
    justify-content: start;
    align-content: center;
    color:rgb(103, 110, 122);
}
section.description{
    grid-area: section;


    display: grid;
    width:100%;
    height:100%;


    grid-template-areas: 
    "h4-d"
    "h5-d";

    grid-template-rows:35% 25% ;
    grid-template-columns: 80%;

    justify-content: center;
    align-content: flex-start;

    background-color: hsl(179, 62%, 43%,0.6);;
     
    
}
section.description h4{
    grid-area: h4-d;
    color:white;
    font-weight: 700;
    font-size: 35px;

 
}
section.description h5{
    grid-area: h5-d;
    color:var(--Light-Gray);
    font-size: 1.3rem;

}
section h5,h4,h6,p.span{
    display: grid;
    justify-content: start;
    align-content: center;
}
section.sign-up{
    grid-area: sign-up;
    background-color: hsl(179, 62%, 43%);;


    display: grid;
    width:100%;
    height:100%;


    grid-template-areas: 
    "h4-s   h4-s"
    "h6-span   h6"
    "h5-s    h5-s"
    "button button";

    grid-template-rows:30% 15% 15% 40%;
    grid-template-columns: 13% 60%;

    justify-content: center;
    align-content: flex-start;


}
section.sign-up h4{
    grid-area: h4-s;
    font-size: 35px;

}
/* section.sign-up h6{
    grid-area: h6-s;
   
    
} */
section.sign-up h5{
    grid-area: h5-s;
    font-size: 1.5rem;
    margin-bottom: 30px;
    
}
section.sign-up h6 {
    grid-area: h6;
    font-size: 1.4rem;
     
}
section.sign-up p.span{
    grid-area: h6-span;
    font-size: 30px;
    font-weight: bold;
  

}
section.sign-up button{
    
    height: 60%;
    width:70%;
    border-radius: 20px;
    font-size: 30px;
    color:var(--Light-Gray);
    background-color: var(--Bright-Yellow);
    grid-area:button;
    border: none;
    font-weight: 600;
    margin-left: 50px;

}
section.sign-up h4,p.span{
    color:white;
}
section.sign-up h5,h6{
    color:var(--Light-Gray);
}
footer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-content: center;
    align-content: center;
    
}

.attribution {
     font-size: 11px; text-align: center; 
    
    }
.attribution a {
     color: hsl(228, 45%, 44%);
    }
